<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/web/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web/favicon.ico" type="image/x-icon">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/ikSelect.css" media="all" rel="stylesheet">
    <link href="css/ikSelectCustom.css" media="all" rel="stylesheet">
    <link href="css/normalize.min.css" media="all" rel="stylesheet">
    <link href="fonts/Tinos-Regular.ttf" rel="stylesheet" type="text/css">
    <title>Send mail{% block title %}{% endblock %}</title>
</head>
<body>

    <div id="topBar">
        <a href="#" id="more">
            <span id="lang">{{ 'options'|trans }}</span>
                <span id="arrow">
                    <span class="arrdown">&#x25BC;</span>
                    <span class="arrup">&#x25B2;</span>
                </span>
        </a>
        <div class="dropdown">
            <a href="{{ url('lang') }}">{{ 'language'|trans }}</a>
        </div>
    </div>

    {%  block header %}{% endblock %}

    {% for message in app.session.getFlashBag.get('success') %}
        <div class="blue">
            <p>{{ message|trans }}</p>
        </div>
    {% endfor %}

    {%  block content %}{% endblock %}

    {%  block javascript %}{% endblock %}
    <script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.ikSelect.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
