<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/web/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/web/favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Tinos&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />
    <title>Send mail{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="#" id="more">
            <span id="lang">{{ 'options'|trans }}</span>
            <span id="arrow">
                <span class="arrdown">&#x25BC;</span>
                <span class="arrup">&#x25B2;</span>
            </span>
        </a>

        <div class="dropdown">
            <a href="{{ url('lang') }}">{{ 'language'|trans }}</a>
        </div>
    </nav>
    <section class="container">
        {% block header %}{% endblock %}
        <div class="flash-messages">
            {% for message in app.session.getFlashBag.get('success') %}
                <div class="flash">
                    <p>{{ message|trans }}</p>
                </div>
            {% endfor %}
        </div>
        {% block content %}{% endblock %}
    </section>

    {%  block javascript %}{% endblock %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
</body>
</html>
