::-moz-selection{
    background:#b3d4fc;
    text-shadow:none
}
::selection{
    background:#b3d4fc;
    text-shadow:none
}

body {background: #2A2829; color: #645A39; font-family: 'Tinos', serif; font-size: 12px; padding: 20px;}
input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #645A39;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "Times New Roman";
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #2A2829;
}
textarea {height: 400px;width: 100%; }

div.comment { border: 1px solid #F5D867; margin: 0 auto; }
.comment .blue {color: #87C0DA;}
.margin {padding: 20px;}
.button {
    background-color:transparent;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #645a39;
    display:inline-block;
    color:#645a39;
    font-family: 'Tinos', serif;
    font-size:15px;
    font-weight:bold;
    padding:4px 11px;
    text-decoration:none;
    position: relative;
    top: 2px;
}.button:active {
     position:relative;
     top:1px;
 }

.button-solid {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #87c0da), color-stop(1, #87c0da) );
    background:-moz-linear-gradient( center top, #87c0da 5%, #87c0da 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c0da', endColorstr='#87c0da');
    background-color:#87c0da;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #87c0da;
    display:inline-block;
    color:#2a2829;
    font-family: 'Tinos', serif
    font-size:15px;
    font-weight:bold;
    padding:4px 11px;
    text-decoration:none;
}.button-solid:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #87c0da), color-stop(1, #87c0da) );
     background:-moz-linear-gradient( center top, #87c0da 5%, #87c0da 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c0da', endColorstr='#87c0da');
     background-color:#87c0da;
 }.button-solid:active {
      position:relative;
      top:1px;
  }


.blue p {
    background: none repeat scroll 0 0 #47BC5F;
    border: 1px solid #2A2829;
    border-radius: 10px 10px 10px 10px;
    color: #2A2829;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

label {
    font-size:15px;
    font-weight:bold;
}

h3 {
    background: none repeat scroll 0 0 #87C0DA;
    border: 5px double #2A2829;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #2A2829;
}

i {background: url(../images/info.png) no-repeat; width: 12px; height: 12px; position: relative; display: inline-block; top: 2px; margin: 0 4px; }
.errors { border: 1px solid #8d0005; padding: 3px; color: #8d0005; font-size: 16px; margin: 15px 0; }
.errors i { background: url(../images/warning.png) no-repeat; width: 12px; height: 12px; position: relative; display: inline-block; top: 2px; margin: 0 4px;}
.errors h3 { background-color: #8d0005; }
.error { color: #8d0005;}

.center { margin-left: auto; margin-right: auto; width: 180px; top: 100px; position: relative;}
.inline_form {width: 166px; min-height: 400px;}
.inline_form button {display: inline-block; width: 100%}
.inline_form .button {float: right; margin-right: 19px; margin-top: 4px; position: relative;}

#topBar { text-align: right; color: #645a39; padding: 5px; position: relative; display: block; width: 200px; float: right;}
#topBar a { color: #645a39; text-decoration: none; padding: 5px 7px; border: 1px solid #645A39; font: 13px 'Tinos', serif; font-weight: bold;}
#topBar a:hover { background: #2A2829; color: #645a39; }
#topBar a.active { background: #2A2829; color: #645a39; }
.dropdown { display: none; position: absolute; right: 5px; background: #2A2829; color: #645a39; top: 25px;}
.dropdown a { display: block; color: #645a39 !important; text-decoration: none; padding: 5px 7px; }
.dropdown a:hover { background: #2A2829; }
.arrup { display: none; }
.arrow { font-size: 0.6em; }

.clearfix:before,.clearfix:after{
    content:" ";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}
