<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet" />
    <title>Send mail{% block title %}{% endblock %}</title>
</head>
<body>
{%  block content %}{% endblock %}
</body>
</html>