{% extends 'base.html.twig' %}

{%  block content %}
    <h1>Configuration mail</h1>

    {% if errors %}
        <div class="errors">
            <pre>The user has the following errors</pre>
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="comment">
        <div class="content margin">
            <pre>Add configuration for email</pre>

            <form action="{{ path('config') }}" method="post">
                {{ form_widget(form) }}
                <input type="submit" name="send" value="Send" class="button"/>
            </form>
        </div>
    </div>
{% endblock %}